@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for Pizza Lovers";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Vini Pizzaria 😁</h1>
    <p class="lead">A melhor pizzaria da cidade há @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>
